<div class="turkeys-wrapper">
  <div class="about-the-band">
    <div class="internal-wrapper">
      <h1>About The Band</h1>
      <p>Born out of the 2020 quarantine, Hand Turkey is a groove music band from Fort Collins Colorado.  Now with a full three plus piece brass section, we're ready to privide the front range with high energy, low volume groove music to spice up any event.</p>
    </div>
  </div>
  <div class="container bio-wrapper">
    <div *ngFor="let member of bandmates" class="bio row">
      <div class="col-sm-4 avatar-wrapper">
        <img class="avatar" src="{{member.picturePath}}">
      </div>
      <div class="bio-text col-sm-8">
        <p class="name">{{member.name}}</p>
        <p class="bio-body">{{member.bio}}</p>
      </div>
    </div>
  </div>
</div>