<video playsinline autoplay poster="../../assets/Images/homepageBackgroundImage.jpg" [muted]="true" loop id="homepage-background">
  <source src="https://i.imgur.com/inNEPHt.mp4" type="video/webm">
</video>
<div id="homepage-banner">
  <img id="logo-text" src="../../assets/Images/logoText.jpg">
  <div id="music-link-wrapper">
    <a href="https://open.spotify.com/artist/0yeXPXaEV9lKMi6GE3nRcH"><div class="spotify-link music-link"><img class="spotify-logo" src="../../assets/Images/spotify-logo.png"><p>New Music!</p></div></a>
    <a href="https://open.spotify.com/artist/0yeXPXaEV9lKMi6GE3nRcH"><div class="apple-link music-link"><img class="spotify-logo" src="../../assets/Images/spotify-logo.png"><p>New Music!</p></div></a>
  </div>
  <div id="homepage-nav">
    <div class="homepage-nav-button" [routerLink]="['/media']">
      <img id="homepage-nav-button-img"src="../../assets/Images/rockTurkey.jpeg">
      <p class="homepage-nav-text">Media</p>
    </div>
    <div class="homepage-nav-button"[routerLink]="['/shows']">
      <img id="homepage-nav-button-img"src="../../assets/Images/fancyTurkey.jpeg">
      <p class="homepage-nav-text" routerLinkActive="router-link-active" >Shows</p>
    </div>
    <div [routerLink]="['/turkeys']" class="homepage-nav-button">
      <img id="homepage-nav-button-img"src="../../assets/Images/singingTurkey.jpeg">
      <p class="homepage-nav-text">The Turkeys</p>
    </div>
  </div>
</div>