.spotify-link{
  background-color: #1ed760;
}

.apple-link {
  background-color: #fa2c4f;
}

.music-link {
  height:50px;
  width: 100%;
  border-radius: 20px;
  border: 2px white solid;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  margin-top: 7%;
}

#homepage-background{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
#homepage-banner{
  background: black;
  height: 95%;
  width: 50%;
  animation: .75s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s 1 slideInFromTop;
  margin: 0 auto 0 auto;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 6px white solid;
  border-top: 0;
  transform: translateY(-10%);
}
@keyframes slideInFromTop {
  0% {
    transform: translatey(-100%);
  }
  100% {
    transform: translatey(-10%);
  }
}
#logo-text{
  height: 30%;
  object-fit: scale-down;
  margin-bottom: 5%;
  animation: navFadeIn 2s;
}
#music-link-wrapper {
  margin: 0 20% 0 20%;
}
#homepage-nav{
  height: 25%;
  border-radius: 10px;
  margin: 2% 17% 0 17%;
  display: flex;
  animation: navFadeIn 2.75s;
}
@keyframes navFadeIn {
  0% {
    opacity: 0;
  }
  40%{
    opacity: 0;
  }
  100% {
    opacity: 1
  }
}
.homepage-nav-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  margin: 5% 0 2% 0;
}
.homepage-nav-button { transition: all .2s ease-in-out; }
.homepage-nav-button:hover { transform: scale(1.2); }
.music-link { transition: all .2s ease-in-out; }
.music-link:hover { transform: scale(1.1); }
.music-link{animation: navFadeIn 2.75s;}

.homepage-nav-text{
  color: white;
  text-align: center;
  margin-top: 3%;
  cursor: pointer;
}
.homepage-nav-button img{
  height: 70%;
  cursor: pointer;
}
@media only screen and (max-width: 830px) {
  #homepage-nav{
    flex-direction: column;
    height: 20%;
  }
  #homepage-nav-button{
    height: 101%;
    width: 100%;
  }
  .homepage-nav-button{
    height: 55%;
    width: 100%;
    margin: 5% 0 20% 0;
  }
  #logo-text{
    margin-top: -50%;
    margin-bottom: 0;
  }
  #homepage-nav-button-img{
    height: 100%;
  }

  .music-link{
    margin: -7% auto 0 auto;
    width: 77%;
  }

  .music-link p {
    display: none;
  }
}
@media only screen and (max-width: 1325px) and (min-width: 830px) {
  #homepage-nav-button-img{
    height: 50%;
  }
  #homepage-nav {
    margin-bottom: -90px;
    margin-top: 30px;
  } 
}

@media only screen and (min-width: 1325px) {
  .homepage-nav-text{
    font-size: 1.2rem;
  }
}



a {
  width: 50%;
  margin: 0 auto 0 auto;
}

a:hover{
  text-decoration: none;
}

.music-link p{
  margin: 12px;
}

.spotify-logo{
  height: 30px;
}
.music-link:hover {
  filter: brightness(.85);
  text-decoration: none;
}

