<div id="homepage-background">
  <div id="banner-cover-up"></div>
  <div id="homepage-banner">
    <img id="logo-text" src="../../assets/Images/logoText.jpg">
    <div id="homepage-nav">
      <div class="homepage-nav-button">
        <img src="../../assets/Images/rockTurkey.jpg">
        <p class="homepage-nav-text">Media</p>
      </div>
      <div class="homepage-nav-button">
        <img src="../../assets/Images/fancyTurkey.jpg">
        <p class="homepage-nav-text">Booking</p>
      </div>
      <div class="homepage-nav-button">
        <img src="../../assets/Images/singingTurkey.png">
        <p class="homepage-nav-text">The Turkeys</p>
      </div>
    </div>
  </div>
</div>
