#homepage-background{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
#homepage-banner{
  background: black;
  height: 95%;
  width: 50%;
  animation: .75s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s 1 slideInFromTop;
  margin: 0 auto 0 auto;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 6px white solid;
  border-top: 0;
  transform: translateY(-10%);
}
@keyframes slideInFromTop {
  0% {
    transform: translatey(-100%);
  }
  100% {
    transform: translatey(-10%);
  }
}
#logo-text{
  height: 30%;
  object-fit: scale-down;
  margin-bottom: 5%;
  animation: navFadeIn 2s;
}
#homepage-nav{
  height: 25%;
  border-radius: 10px;
  margin: 2% 17% 0 17%;
  display: flex;
  animation: navFadeIn 2.75s;
}
@keyframes navFadeIn {
  0% {
    opacity: 0;
  }
  40%{
    opacity: 0;
  }
  100% {
    opacity: 1
  }
}
.homepage-nav-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  margin: 5% 0 2% 0;
}
.homepage-nav-button { transition: all .2s ease-in-out; }
.homepage-nav-button:hover { transform: scale(1.2); }
.homepage-nav-text{
  color: white;
  text-align: center;
  margin-top: 3%;
  cursor: pointer;
}
.homepage-nav-button img{
  height: 70%;
  cursor: pointer;
}
@media only screen and (max-width: 830px) {
  #homepage-nav{
    flex-direction: column;
    height: 20%;
  }
  #homepage-nav-button{
    height: 101%;
    width: 100%;
  }
  .homepage-nav-button{
    height: 55%;
    width: 100%;
    margin: 5% 0 20% 0;
  }
  #logo-text{
    margin-top: -50%;
    margin-bottom: 0;
  }
  #homepage-nav-button-img{
    height: 100%;
  }
}
